body {
    background-color: #bae1f0;
}

.game-square {
    display: inline-block;
    border: 1px solid lightgrey;
    border-top: 1px transparent;
    border-left: 1px transparent;
}

.game-square.filled {
    background-color: black;
}

.game-square.blocked:before {
    content: "";
    position: absolute;
    border-top: 1px solid grey;
    width: 42px;
    transform: rotate(45deg);
    transform-origin: 0 0;
}

.game-square.blocked:after {
    content: "";
    position: absolute;
    border-top: 1px solid grey;
    width: 43px;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    margin-top: 30px
}

.game-row {
    display: flex;
    line-height: 0;
    flex-wrap: nowrap;
}

.game-rows {
    background: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    display: inline-block;
}

.game-board {
    display: inline-block;
}

.hint-rows {
    display: inline-block;
}

.hint-row {
    display: flex;
    justify-content: flex-end;
}

.hint-square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border: 1px solid black;
    border-top: 1px transparent;
    background-color: lightgrey;
    border-left: 1px transparent;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.hint-row:nth-child(1) .hint-square,  .hint-column .hint-square:nth-child(1){
    border-top: 1px solid black;
}

.hint-row .hint-square:nth-child(1), .hint-column:nth-child(1) .hint-square {
    border-left: 1px solid black;
}

.puzzle-board {
    padding: 10px;
}

.hint-columns {
    display: flex;
    grid-column-start: 2;
}

.hint-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hint-area {
    display: grid;
}

.game-row:nth-child(5n) .game-square, .hint-row:nth-child(5n) .hint-square{
    border-bottom-width: 3px;
}

.game-square:nth-child(5n), .hint-column:nth-child(5n) .hint-square {
    border-right-width: 3px;
}

.game-row:nth-last-child(1) .game-square, .hint-row:nth-last-child(1) .hint-square{
    border-bottom: 1px solid black;
}

.game-square:nth-last-child(1), .hint-column:nth-last-child(1) .hint-square {
    border-right: 1px solid black;
}

.hint-square, .game-square {
    box-sizing: content-box;
    width: 30px;
    height: 30px;
}

/* .hint-square.solved:before {
    content: "";
    position: absolute;
    border-top: 4px solid #000000e0;
    width: 42px;
    transform: rotate(45deg);
} */

.hint-square.solved {
    background-color: darkgrey;
    color: #fff;
}

#index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#index p {
    text-align: center;
    width: 80%;
}

#game-key-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#game-key-nav label input {
    margin-left: 5px;
}

#game-key-nav label {
    break-after: always;
}